.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid;
  }
  
  /*.card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    } */
  
  .card .cardHeader {
    display: flex;
    justify-content: space-between;
  }
  
  .card .cardHeader .cardTitle {
    color: #aaa;
    font-weight: 400;
    font-size: 17px;
  }
  
  .card .cardSection {
    margin-top: 15px;
  }
  
  .card .cardSection .cardPara {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card .cardFooter {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  
  .card .cardFooter .info {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .card .cardFooter .tag {
    border: 1px solid #ddd;
    width: 40%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: #aaa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
  }
  
  .card .cardFooter .tag .tagIcon {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #aaa;
  }