.divOpener {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  width: fit-content;
  padding: 0 5px;  
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.divOpener p {
  margin: 0 5px;
}

.divOpener span {
  margin-top: 6px;
}
